<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.9, user-scalable=no">
    <link rel="Stylesheet" href="../static/navigation.css">
    <link rel="Stylesheet" href="../static/index.css">
    <script src="../static/navigation.js"></script>
    <title>Home Page</title>
</head>
<nav>
    <input type="checkbox" id="nav-check" class="nav-check">
    <a href="" id="logo" draggable="false">Web Development</a>
    <label for="nav-check" class="menu-toggle">
        <span class="Bar-1"></span>
        <span class="Bar-2"></span>
        <span class="Bar-3"></span>
    </label>

    <ul class="nav-links">
        <div class="links-nav">
            <li><a href="" draggable="false">Home</a></li>
            <li><a href="" draggable="false">Sobre</a></li>
            <li><a href="" draggable="false">Portfólio</a></li>
            <li><a href="" draggable="false">Contato</a></li>
        </div>
    </ul>
</nav>

<body>
    <h1>API em funcionamento!</h1>
    <div id="content-body" class="container-home">

        <section>
            <h1>Curso Básico de Desenvolvimento Web</h1>
            <p>Este é nosso website e aqui podemos colocar praticamente qualquer tipo de mídia</p>
        </section>

        <section>
            <h1>Nosso Produto</h1>
            <p>Essa seção é destinada a propagando do produto, planeje modelos 3D talvez</p>

        </section>

        <section>
            <h1>Confira Abaixo</h1>
            <p>Add algum vídeo aqui</p>
        </section>

        <section id="formulario_cadastro">
            <h1>Olar, hoje estamos fazendo um curso básico de Web Design</h1>
            <p>Este é nosso website</p>
        </section>
    </div>

    <!--DIV com botão de scroll up dentro para rolar ao inicio da página, o botão ficará localizado na parte direita inferior como sticky ou fixed -->
    <div id="scroll-up">
        <img src="../static/img/up-arrow.png" width="50px" height="auto" draggable="false">
    </div>


    <div id="header-teste">
        <div id="header-formulario">
            
        </div>
    </div>
</body>

</html>